<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Form</title>
  <link href="/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="card border-info mt-5" style="max-width: 30rem;">
        <div class="card-body">
          <h3 class="card-title mb-5">Student Details</h3>
          <form method="POST" action="/">
            <input type="text" class="form-control mb-4" placeholder="Enter Your First Name" name="f_name" required>
            <input type="text" class="form-control mb-4" placeholder="Enter Your Last Name" name="l_name" required>
            <input type="text" class="form-control mb-4" placeholder="Enter Your Math Score" name="m_marks" required>
            <input type="text" class="form-control mb-5" placeholder="Enter Your English Score" name="e_marks" required>
            <button type="submit" class="btn btn-success w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>